.ds-link {
  color: var(--color-brand-600);
  text-decoration: underline;
  text-decoration-thickness: var(--type-underline-thickness);
  text-underline-offset: var(--type-underline-offset);
  font-family: var(--font-family-primary);
  font-size: var(--type-text-s-size);
  line-height: var(--type-text-s-line);
  font-weight: var(--type-weight-medium);
}

.ds-link:hover {
  color: var(--color-brand-700);
}

.ds-link:focus-visible {
  outline: none;
  box-shadow: var(--effect-focus-outer-primary), var(--effect-focus-inner);
  border-radius: var(--radius-02);
}
