.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;
  font-variation-settings: "wght" var(--icon-weight);
  color: currentColor;
}

.icon--sm {
  font-size: var(--icon-s-glyph);
  width: var(--icon-s-box);
  height: var(--icon-s-box);
}

.icon--md {
  font-size: var(--icon-m-glyph);
  width: var(--icon-m-box);
  height: var(--icon-m-box);
}

.icon--lg {
  font-size: var(--icon-l-glyph);
  width: var(--icon-l-box);
  height: var(--icon-l-box);
}
