.travelers-stack {
  padding-bottom: calc(var(--sticky-summary-h, 0px) + var(--spacing-10));
}

.fares-stack {
  padding-bottom: var(--spacing-15);
}

.extras-stack {
  padding-bottom: var(--spacing-16);
}
