:root {
  font-family: var(--font-family-primary);
  color: var(--color-neutral-900);
  background: var(--color-neutral-50);
}

html {
  overflow-y: scroll;
}

.dark,
html.dark,
body.dark {
  --color-neutral-0: var(--color-neutral-50);
}

body {
  margin: 0;
  background: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

a {
  color: inherit;
}

.page-title {
  font-family: var(--font-family-primary);
  font-size: var(--type-heading-h2-size);
  line-height: var(--type-heading-h2-line);
  margin: 0 0 var(--spacing-04) 0;
}

.section-title {
  font-family: var(--font-family-primary);
  font-size: var(--type-heading-h4-size);
  line-height: var(--type-heading-h4-line);
  margin: 0 0 var(--spacing-03) 0;
}


@layer utilities {

  /*TYPE*/
  .type-base { font-family: var(--font-family-primary); }

  /* Sizes */
  .type-heading-h1 { font-size: var(--type-heading-h1-size); line-height: var(--type-heading-h1-line); }
  .type-heading-h2 { font-size: var(--type-heading-h2-size); line-height: var(--type-heading-h2-line); }
  .type-heading-h3 { font-size: var(--type-heading-h3-size); line-height: var(--type-heading-h3-line); }
  .type-heading-h4 { font-size: var(--type-heading-h4-size); line-height: var(--type-heading-h4-line); }

  .type-text-l  { font-size: var(--type-text-l-size);  line-height: var(--type-text-l-line); }
  .type-text-m  { font-size: var(--type-text-m-size);  line-height: var(--type-text-m-line); }
  .type-text-s  { font-size: var(--type-text-s-size);  line-height: var(--type-text-s-line); }
  .type-text-xs { font-size: var(--type-text-xs-size); line-height: var(--type-text-xs-line); }

  /* Weights */
  .type-regular { font-weight: var(--type-weight-regular); }
  .type-medium  { font-weight: var(--type-weight-medium); }
  .type-bold    { font-weight: var(--type-weight-bold); }

  /* Underline (type.text.underline) */
  .type-text-underline {
    text-decoration: underline;
    text-underline-offset: var(--type-underline-offset);
    text-decoration-thickness: var(--type-underline-thickness);
  }
  /* --- ICONS --- */
  .icon-inline { display: inline-flex; align-items: center; }

  .icon-l { width: var(--icon-l-box); height: var(--icon-l-box); font-size: var(--icon-l-glyph); }
  .icon-m { width: var(--icon-m-box); height: var(--icon-m-box); font-size: var(--icon-m-glyph); }
  .icon-s { width: var(--icon-s-box); height: var(--icon-s-box); font-size: var(--icon-s-glyph); }

  .icon-gap-l { column-gap: var(--icon-l-gap); }
  .icon-gap-m { column-gap: var(--icon-m-gap); }
  .icon-gap-s { column-gap: var(--icon-s-gap); }

  .material-symbol {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-variation-settings: "wght" var(--icon-weight);
  }
}
